{
  "openapi": "3.0.0",
  "x-api": "caapi",
  "x-nter-docs-nav-order": 2,
  "info": {
    "version": "1.0.0",
    "description": "Customer API for FTM and CIMS",
    "title": "Customer accessible API",
    "termsOfService": "https://docs.nterprise.com/tos.html",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api02.nterprise.com",
      "description": "Production api"
    }
  ],
  "security": [
    {
      "signedToken": []
    }
  ],
  "paths": {
    "/customers/{customer_id}": {
      "get": {
        "operationId": "fetchCustomerById",
        "summary": "Fetches information about a customer",
        "description": "Fetches information about a customer the account has access too",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The id of the customer to retrieve",
            "schema": {
              "type": "number",
              "format": "int32"
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "format": "int32"
              },
              "json": "{\n  \"type\": \"number\",\n  \"format\": \"int32\"\n}"
            },
            "originalType": "number",
            "safeType": "number(int32)",
            "shortDesc": "The id of the customer to retrieve",
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the customer",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "A Customer",
                      "type": "object",
                      "required": [
                        "cName"
                      ],
                      "properties": {
                        "customer_id": {
                          "description": "The Customer Id",
                          "readOnly": true,
                          "type": "string"
                        },
                        "cName": {
                          "description": "The name of the customer",
                          "type": "string",
                          "example": "Zones",
                          "readOnly": true
                        },
                        "total_projects": {
                          "description": "Total Projects for the customer",
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 42
                        },
                        "total_sites": {
                          "description": "Total Sites for the customer",
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 84
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "self": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "readOnly": true,
                                  "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/": {
      "get": {
        "operationId": "fetchAllCustomers",
        "summary": "List all customers",
        "description": "Fetches all the account has access too",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of customers",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "customers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Customer",
                                "type": "object",
                                "required": [
                                  "cName"
                                ],
                                "properties": {
                                  "customer_id": {
                                    "description": "The Customer Id",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "cName": {
                                    "description": "The name of the customer",
                                    "type": "string",
                                    "example": "Zones",
                                    "readOnly": true
                                  },
                                  "total_projects": {
                                    "description": "Total Projects for the customer",
                                    "type": "number",
                                    "readOnly": true,
                                    "minimum": 0,
                                    "example": 42
                                  },
                                  "total_sites": {
                                    "description": "Total Sites for the customer",
                                    "type": "number",
                                    "readOnly": true,
                                    "minimum": 0,
                                    "example": 84
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/projects": {
      "get": {
        "operationId": "fetchCustomerProjects",
        "summary": "Fetches all projects for a customer",
        "description": "List all projects for a customer",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The id of the customer to retrieve",
            "schema": {
              "type": "number",
              "format": "int32"
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "format": "int32"
              },
              "json": "{\n  \"type\": \"number\",\n  \"format\": \"int32\"\n}"
            },
            "originalType": "number",
            "safeType": "number(int32)",
            "shortDesc": "The id of the customer to retrieve",
            "style": "simple"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by field",
            "schema": {
              "type": "string",
              "enum": [
                "pLabel",
                "-pLabel"
              ]
            },
            "exampleValues": {
              "object": {
                "type": "string",
                "enum": [
                  "pLabel",
                  "-pLabel"
                ]
              },
              "json": "{\n  \"type\": \"string\",\n  \"enum\": [\n    \"pLabel\",\n    \"-pLabel\"\n  ]\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Sort by field",
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of projects",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "type": "object",
                                "description": "A Project",
                                "required": [
                                  "pLabel"
                                ],
                                "properties": {
                                  "project_id": {
                                    "description": "The Project Id",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "pLabel": {
                                    "description": "The name of the project",
                                    "type": "string",
                                    "example": "Zones",
                                    "readOnly": true
                                  },
                                  "pStart_dt": {
                                    "description": "Project Start date",
                                    "type": "string",
                                    "nullable": true,
                                    "format": "date-time",
                                    "readOnly": true
                                  },
                                  "pEnd_dt": {
                                    "description": "Project end date",
                                    "type": "string",
                                    "nullable": true,
                                    "format": "date-time",
                                    "readOnly": true
                                  },
                                  "pDesc": {
                                    "type": "string",
                                    "description": "Project Description",
                                    "readOnly": true
                                  },
                                  "total_work_orders": {
                                    "description": "Total work orders for the project",
                                    "type": "number",
                                    "readOnly": true,
                                    "minimum": 0
                                  },
                                  "total_work_orders_status": {
                                    "description": "Work order counts by status",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "active": {
                                        "type": "number",
                                        "example": 10
                                      },
                                      "pending": {
                                        "type": "number",
                                        "example": 10
                                      },
                                      "complete": {
                                        "type": "number",
                                        "example": 5
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/sites": {
      "get": {
        "operationId": "fetchCustomerSites",
        "summary": "Fetches all sites for a customer",
        "description": "List all sites for a customer",
        "tags": [
          "Customer"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by field",
            "schema": {
              "type": "string",
              "enum": [
                "siteName",
                "-siteName",
                "siteLabel",
                "-siteLabel"
              ]
            },
            "exampleValues": {
              "object": {
                "type": "string",
                "enum": [
                  "siteName",
                  "-siteName",
                  "siteLabel",
                  "-siteLabel"
                ]
              },
              "json": "{\n  \"type\": \"string\",\n  \"enum\": [\n    \"siteName\",\n    \"-siteName\",\n    \"siteLabel\",\n    \"-siteLabel\"\n  ]\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Sort by field",
            "style": "form"
          },
          {
            "name": "filter[site_group]",
            "in": "query",
            "description": "Filter where the site group is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the site group is this value",
            "style": "form"
          },
          {
            "name": "filter[county]",
            "in": "query",
            "description": "Filter where the county is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the county is this value",
            "style": "form"
          },
          {
            "name": "filter[state]",
            "in": "query",
            "description": "Filter where the state is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the state is this value",
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of sites",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Site",
                                "type": "object",
                                "required": [
                                  "siteName"
                                ],
                                "properties": {
                                  "project_id": {
                                    "description": "The Project Id",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "customer_id": {
                                    "description": "The Customer Id",
                                    "readOnly": true
                                  },
                                  "siteName": {
                                    "description": "The name of the site",
                                    "type": "string",
                                    "example": "Site 196"
                                  },
                                  "siteLabel": {
                                    "description": "The label of the site",
                                    "type": "string",
                                    "example": "Zones"
                                  },
                                  "siteGroup": {
                                    "description": "The group name of the site",
                                    "type": "string",
                                    "example": "Group A"
                                  },
                                  "addr1": {
                                    "description": "The address",
                                    "type": "string",
                                    "example": "Town Squire Pl"
                                  },
                                  "addr2": {
                                    "description": "The address",
                                    "type": "string",
                                    "example": "329 Glenmont Rd"
                                  },
                                  "city": {
                                    "description": "The city",
                                    "type": "string",
                                    "example": "Glenmont"
                                  },
                                  "state": {
                                    "description": "The state",
                                    "type": "string",
                                    "example": "NY"
                                  },
                                  "zip": {
                                    "description": "The zip code",
                                    "type": "string",
                                    "example": "12345"
                                  },
                                  "country": {
                                    "description": "The country",
                                    "type": "string",
                                    "example": "US"
                                  },
                                  "lng": {
                                    "description": "The longitude coordinates",
                                    "type": "number",
                                    "example": -73.7831,
                                    "minimum": -180,
                                    "maximum": 180
                                  },
                                  "lat": {
                                    "description": "The latitude coordinates",
                                    "type": "number",
                                    "example": 42.6014,
                                    "minimum": -180,
                                    "maximum": 180
                                  },
                                  "sTZ": {
                                    "description": "Standard time zone",
                                    "type": "string",
                                    "example": "America/New_York"
                                  },
                                  "contactName": {
                                    "description": "Name of the site contact",
                                    "type": "string",
                                    "example": "Carlo DiLorenzo"
                                  },
                                  "contactPhone": {
                                    "description": "Phone number of the site contact",
                                    "type": "string",
                                    "example": "(555) 555-5555 "
                                  },
                                  "contactEmail": {
                                    "description": "Email of the site contact",
                                    "type": "string",
                                    "example": "(555) 555-5555 "
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/": {
      "get": {
        "operationId": "fetchAllProjects",
        "summary": "List all projects",
        "description": "Fetches all the account has access too",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "filter[customer_id]",
            "in": "query",
            "description": "Filter where the customer id is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the customer id is this value",
            "style": "form"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by field",
            "schema": {
              "type": "string",
              "enum": [
                "pLabel",
                "-pLabel"
              ]
            },
            "exampleValues": {
              "object": {
                "type": "string",
                "enum": [
                  "pLabel",
                  "-pLabel"
                ]
              },
              "json": "{\n  \"type\": \"string\",\n  \"enum\": [\n    \"pLabel\",\n    \"-pLabel\"\n  ]\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Sort by field",
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of projects",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "type": "object",
                                "description": "A Project",
                                "required": [
                                  "pLabel"
                                ],
                                "properties": {
                                  "project_id": {
                                    "description": "The Project Id",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "pLabel": {
                                    "description": "The name of the project",
                                    "type": "string",
                                    "example": "Zones",
                                    "readOnly": true
                                  },
                                  "pStart_dt": {
                                    "description": "Project Start date",
                                    "type": "string",
                                    "nullable": true,
                                    "format": "date-time",
                                    "readOnly": true
                                  },
                                  "pEnd_dt": {
                                    "description": "Project end date",
                                    "type": "string",
                                    "nullable": true,
                                    "format": "date-time",
                                    "readOnly": true
                                  },
                                  "pDesc": {
                                    "type": "string",
                                    "description": "Project Description",
                                    "readOnly": true
                                  },
                                  "total_work_orders": {
                                    "description": "Total work orders for the project",
                                    "type": "number",
                                    "readOnly": true,
                                    "minimum": 0
                                  },
                                  "total_work_orders_status": {
                                    "description": "Work order counts by status",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "active": {
                                        "type": "number",
                                        "example": 10
                                      },
                                      "pending": {
                                        "type": "number",
                                        "example": 10
                                      },
                                      "complete": {
                                        "type": "number",
                                        "example": 5
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "operationId": "fetchProjectById",
        "summary": "Fetch Project",
        "description": "Fetches information about a project the account has access too",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the project to retrieve",
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the project",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "A Project",
                      "required": [
                        "pLabel"
                      ],
                      "properties": {
                        "project_id": {
                          "description": "The Project Id",
                          "readOnly": true,
                          "type": "string"
                        },
                        "pLabel": {
                          "description": "The name of the project",
                          "type": "string",
                          "example": "Zones",
                          "readOnly": true
                        },
                        "pStart_dt": {
                          "description": "Project Start date",
                          "type": "string",
                          "nullable": true,
                          "format": "date-time",
                          "readOnly": true
                        },
                        "pEnd_dt": {
                          "description": "Project end date",
                          "type": "string",
                          "nullable": true,
                          "format": "date-time",
                          "readOnly": true
                        },
                        "pDesc": {
                          "type": "string",
                          "description": "Project Description",
                          "readOnly": true
                        },
                        "total_work_orders": {
                          "description": "Total work orders for the project",
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0
                        },
                        "total_work_orders_status": {
                          "description": "Work order counts by status",
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "active": {
                              "type": "number",
                              "example": 10
                            },
                            "pending": {
                              "type": "number",
                              "example": 10
                            },
                            "complete": {
                              "type": "number",
                              "example": 5
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "self": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "readOnly": true,
                                  "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/inventory": {
      "get": {
        "operationId": "fetchAllProjectInventory",
        "summary": "Fetch project inventory",
        "description": "Fetches all the inventory for a project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the project to retrieve",
            "style": "simple"
          },
          {
            "name": "filter[serial_number]",
            "in": "query",
            "description": "Filter where the serial number is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the serial number is this value",
            "style": "form"
          },
          {
            "name": "filter[part_number]",
            "in": "query",
            "description": "Filter where the part number is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the part number is this value",
            "style": "form"
          },
          {
            "name": "filter[location_code]",
            "in": "query",
            "description": "Filter where the location code is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the location code is this value",
            "style": "form"
          },
          {
            "name": "filter[asset_tag]",
            "in": "query",
            "description": "Filter where the asset tag is this value",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "required": false,
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "Filter where the asset tag is this value",
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of inventory",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "inventory": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "type": "object",
                                "description": "A Listing of inventory",
                                "properties": {
                                  "inventory_id": {
                                    "type": "string",
                                    "description": "inventory id, not required for \"Q\" type inventory",
                                    "readOnly": true
                                  },
                                  "project_id": {
                                    "type": "string",
                                    "description": "project id of inventory",
                                    "readOnly": true
                                  },
                                  "PartNo": {
                                    "type": "string",
                                    "description": "product referenced part number",
                                    "readOnly": true
                                  },
                                  "InventoryType": {
                                    "type": "string",
                                    "description": "inventory type, \"Q\" ( quantity ) or \"S\" (serialized)",
                                    "enum": [
                                      "Q",
                                      "S"
                                    ],
                                    "readOnly": true
                                  },
                                  "Status": {
                                    "type": "string",
                                    "description": "inventory status",
                                    "readOnly": true
                                  },
                                  "Quantity": {
                                    "type": "number",
                                    "description": "inventory count, will be \"1\" for S type inventory",
                                    "readOnly": true
                                  },
                                  "SerialNumber": {
                                    "type": "string",
                                    "description": "inventory serial number, will be empty for Q type inventory"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/inventory/{inventory_id}": {
      "get": {
        "operationId": "fetchProjectInventory",
        "summary": "Fetch inventory for project",
        "description": "Fetches all the inventory for a project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the project to retrieve",
            "style": "simple"
          },
          {
            "name": "inventory_id",
            "in": "path",
            "required": true,
            "description": "The id of the inventory to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the inventory to retrieve",
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the project",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "A Listing of inventory",
                      "properties": {
                        "inventory_id": {
                          "type": "string",
                          "description": "inventory id, not required for \"Q\" type inventory",
                          "readOnly": true
                        },
                        "project_id": {
                          "type": "string",
                          "description": "project id of inventory",
                          "readOnly": true
                        },
                        "PartNo": {
                          "type": "string",
                          "description": "product referenced part number",
                          "readOnly": true
                        },
                        "InventoryType": {
                          "type": "string",
                          "description": "inventory type, \"Q\" ( quantity ) or \"S\" (serialized)",
                          "enum": [
                            "Q",
                            "S"
                          ],
                          "readOnly": true
                        },
                        "Status": {
                          "type": "string",
                          "description": "inventory status",
                          "readOnly": true
                        },
                        "Quantity": {
                          "type": "number",
                          "description": "inventory count, will be \"1\" for S type inventory",
                          "readOnly": true
                        },
                        "SerialNumber": {
                          "type": "string",
                          "description": "inventory serial number, will be empty for Q type inventory"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "self": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "readOnly": true,
                                  "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/inventory/{inventory_id}/history": {
      "get": {
        "operationId": "fetchProjectInventoryHistory",
        "summary": "Fetch project inventory history",
        "description": "Fetches the project inventory history",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the project to retrieve",
            "style": "simple"
          },
          {
            "name": "inventory_id",
            "in": "path",
            "required": true,
            "description": "The id of the inventory to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the inventory to retrieve",
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of inventory history",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "type": "object",
                                "description": "An inventory history event",
                                "properties": {
                                  "inventory_id": {
                                    "type": "string",
                                    "description": "inventory id",
                                    "readOnly": true
                                  },
                                  "project_id": {
                                    "type": "string",
                                    "description": "project id of inventory",
                                    "readOnly": true
                                  },
                                  "event_id": {
                                    "type": "string",
                                    "description": "event id of inventory history record",
                                    "readOnly": true
                                  },
                                  "event_type": {
                                    "event_id": {
                                      "type": "string",
                                      "enum": [
                                        "receipt",
                                        "doa",
                                        "shipment",
                                        "installation",
                                        "kit",
                                        "transfer",
                                        "configuration",
                                        "audit",
                                        "trans_project",
                                        "mark_refreshed",
                                        "return_receipt",
                                        "cancel_last_event",
                                        "transfer_out",
                                        "transfer_in"
                                      ],
                                      "description": "event type of inventory history record",
                                      "readOnly": true
                                    }
                                  },
                                  "event_date": {
                                    "description": "The inventory history event date",
                                    "type": "string",
                                    "format": "date-time",
                                    "readOnly": true
                                  },
                                  "new_status": {
                                    "description": "The inventory history event new status",
                                    "type": "string",
                                    "enum": [
                                      "received",
                                      "raw",
                                      "in_configuration",
                                      "configured",
                                      "shipped",
                                      "installed",
                                      "doa",
                                      "other",
                                      "in_noc",
                                      "eol",
                                      "in_transit"
                                    ],
                                    "readOnly": true
                                  },
                                  "comments": {
                                    "description": "The inventory history event comments",
                                    "type": "string",
                                    "readOnly": true
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/kits": {
      "get": {
        "operationId": "fetchProjectProducts",
        "summary": "Fetches all products for a project",
        "description": "Fetches all the products for a project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of kits",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "type": "object",
                                "description": "A collection of products or inventory",
                                "properties": {
                                  "project_id": {
                                    "description": "The Project Id",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "kit_id": {
                                    "type": "string",
                                    "description": "Kit definition id",
                                    "readOnly": true
                                  },
                                  "KitName": {
                                    "type": "string",
                                    "description": "Kit name",
                                    "readOnly": true
                                  },
                                  "KitType": {
                                    "type": "string",
                                    "description": "Kit Type ( P or C )",
                                    "enum": [
                                      "P",
                                      "C"
                                    ],
                                    "readOnly": true
                                  },
                                  "MainPartNo": {
                                    "type": "string",
                                    "description": "Kit referenced Part Number, will be empty for KitType = 'P'",
                                    "readOnly": true
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/kits/{kit_id}": {
      "get": {
        "operationId": "fetchProjectKit",
        "summary": "Fetch project kit",
        "description": "Fetches all the kit for a project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the project to retrieve",
            "style": "simple"
          },
          {
            "name": "kit_id",
            "in": "path",
            "required": true,
            "description": "The id of the kit to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the kit to retrieve",
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the kit",
            "content": {
              "application/hal+json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "description": "A collection of products or inventory",
                      "properties": {
                        "project_id": {
                          "description": "The Project Id",
                          "readOnly": true,
                          "type": "string"
                        },
                        "kit_id": {
                          "type": "string",
                          "description": "Kit definition id",
                          "readOnly": true
                        },
                        "KitName": {
                          "type": "string",
                          "description": "Kit name",
                          "readOnly": true
                        },
                        "KitType": {
                          "type": "string",
                          "description": "Kit Type ( P or C )",
                          "enum": [
                            "P",
                            "C"
                          ],
                          "readOnly": true
                        },
                        "MainPartNo": {
                          "type": "string",
                          "description": "Kit referenced Part Number, will be empty for KitType = 'P'",
                          "readOnly": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}/products": {
      "get": {
        "operationId": "fetchProjectProducts",
        "summary": "Fetches projects products",
        "description": "Fetches all the products for a project",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "The page number to fetch",
            "style": "form"
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 100,
              "minimum": 1
            },
            "exampleValues": {
              "object": {
                "type": "number",
                "maximum": 100,
                "minimum": 1
              },
              "json": "{\n  \"type\": \"number\",\n  \"maximum\": 100,\n  \"minimum\": 1\n}"
            },
            "originalType": "number",
            "safeType": "number",
            "shortDesc": "How many items to return at one time (max 100)",
            "style": "form"
          },
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "string"
            },
            "exampleValues": {
              "object": {
                "type": "string"
              },
              "json": "{\n  \"type\": \"string\"\n}"
            },
            "originalType": "string",
            "safeType": "string",
            "shortDesc": "The id of the project to retrieve",
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of products",
            "content": {
              "application/hal+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A product",
                                "type": "object",
                                "required": [
                                  "ProductType"
                                ],
                                "properties": {
                                  "project_id": {
                                    "description": "The Project Id",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "product_id": {
                                    "description": "The Product Id",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "ProductType": {
                                    "description": "The product type",
                                    "type": "string",
                                    "example": "Printer Accessory"
                                  },
[...]
