{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "description": "API for the nterprise application",
    "title": "nterprise API",
    "termsOfService": "https://www.nterprise.com/tos",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api02.nterprise.com",
      "description": "Production api"
    }
  ],
  "security": [
    {"signedToken": []}
  ],
  "paths": {
    "/customers/{customer_id}": {
      "$ref": "/v1/paths/customer.json"
    },
    "/customers/": {
      "$ref": "/v1/paths/customers.json"
    },
    "/customers/{customer_id}/projects": {
      "$ref": "/v1/paths/projectsByCustomer.json"
    },
    "/projects/{project_id}": {
      "$ref": "/v1/paths/project.json"
    },
    "/projects/": {
      "$ref": "/v1/paths/projects.json"
    },
    "/projects/{project_id}/inventory/{inventory_id}": {
      "$ref": "/v1/paths/inventory.json"
    },
    "/projects/{project_id}/inventory": {
      "$ref": "/v1/paths/inventories.json"
    }
  },
  "components": {
    "schemas": {
      "Customer": {"$ref": "/v1/components/schemas/customer.json"},
      "Project": {"$ref": "/v1/components/schemas/project.json"},
      "Problem": {"$ref": "/v1/components/schemas/problem.json"},
      "Inventory": {"$ref": "/v1/components/schemas/inventory.json"}
    },
    "securitySchemes": {
      "signedToken": {
        "type": "apiKey",
        "description": "To Generate an API Follow these steps:\n 1. concatenate KEY + URL + REQUEST BODY\n 1. create SHA512 hash of step 1 string\n 1. concatenate USER + \":\" + SHA512 hash\n 1. base64 encode string from step 3\n 1. Pass in as a Bearer token",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}
