{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "description": "Customer API for FTM and CIMS",
    "title": "customer-accessible-api",
    "termsOfService": "https://www.nterprise.com/tos",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api02.nterprise.com",
      "description": "Production api"
    }
  ],
  "security": [
    {
      "signedToken": []
    }
  ],
  "paths": {
    "/customers/{customer_id}": {
      "get": {
        "operationId": "fetchCustomerById",
        "summary": "Info for a specific customer",
        "description": "Fetches information about a customer the user has access too",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The id of the customer to retrieve",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the customer",
            "content": {
              "application/vnd.nterprise.customer.v1+json": {
                "schema": {
                  "properties": {
                    "_links": {
                      "readOnly": true,
                      "type": "object",
                      "properties": {
                        "nter:projects": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "href": {
                              "type": "string",
                              "format": "url",
                              "example": "https://api.nterprise.com/customers/333/projects"
                            }
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "description": "A Customer",
                      "type": "object",
                      "required": [
                        "cName"
                      ],
                      "properties": {
                        "customer_id": {
                          "description": "The Customer Id",
                          "readOnly": true,
                          "type": "number",
                          "format": "int32",
                          "minimum": 0
                        },
                        "cName": {
                          "description": "The name of the customer",
                          "type": "string",
                          "example": "Zones"
                        },
                        "total_projects": {
                          "description": "Total Projects for the customer",
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 0
                        },
                        "total_sites": {
                          "description": "Total Sites for the customer",
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 0
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "self": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "readOnly": true,
                                  "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "curies": {
                              "type": "array",
                              "description": "the Nterprise CURIE",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "readOnly": true,
                                    "description": "Name of CURIE",
                                    "example": "nter"
                                  },
                                  "href": {
                                    "type": "string",
                                    "format": "url",
                                    "readOnly": true,
                                    "description": "A Link to the CURIE reference",
                                    "example": "https://docs.nterprise.com/rel/{rel}"
                                  },
                                  "templated": {
                                    "type": "boolean",
                                    "readOnly": true,
                                    "description": "Describes the link as being a template",
                                    "example": true
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected API Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "An absolute URI that identifies the problem type.  When dereferenced, it SHOULD provide human-readable documentation for the problem type (e.g., using HTML).\n",
                      "default": "about:blank",
                      "example": "https://docs.nterprise.com/problem/constraint-violation"
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable\n"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
                      "minimum": 100,
                      "maximum": 600,
                      "example": 503
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human readable explanation specific to this occurrence of the\nproblem.\n",
                      "example": "Connection to database timed out"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/": {
      "get": {
        "operationId": "fetchAllCustomers",
        "summary": "List all customers",
        "description": "Fetches all the user has access too",
        "tags": [
          "Customers"
        ],
        "parameters": [
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of customers",
            "content": {
              "application/vnd.nterprise.collection.customers.v1+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "customers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Customer",
                                "type": "object",
                                "required": [
                                  "cName"
                                ],
                                "properties": {
                                  "customer_id": {
                                    "description": "The Customer Id",
                                    "readOnly": true,
                                    "type": "number",
                                    "format": "int32",
                                    "minimum": 0
                                  },
                                  "cName": {
                                    "description": "The name of the customer",
                                    "type": "string",
                                    "example": "Zones"
                                  },
                                  "total_projects": {
                                    "description": "Total Projects for the customer",
                                    "type": "number",
                                    "format": "int32",
                                    "readOnly": true,
                                    "minimum": 0
                                  },
                                  "total_sites": {
                                    "description": "Total Sites for the customer",
                                    "type": "number",
                                    "format": "int32",
                                    "readOnly": true,
                                    "minimum": 0
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected API Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "An absolute URI that identifies the problem type.  When dereferenced, it SHOULD provide human-readable documentation for the problem type (e.g., using HTML).\n",
                      "default": "about:blank",
                      "example": "https://docs.nterprise.com/problem/constraint-violation"
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable\n"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
                      "minimum": 100,
                      "maximum": 600,
                      "example": 503
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human readable explanation specific to this occurrence of the\nproblem.\n",
                      "example": "Connection to database timed out"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/projects": {
      "get": {
        "operationId": "fetchAllProjectsByCustomer",
        "summary": "List all projects for a customer",
        "description": "Fetches all projects based on a customer",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "description": "The id of the customer to retrieve",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "description": "The page number to fetch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            }
          },
          {
            "name": "page_size",
            "description": "How many items to return at one time (max 100)",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paged array of projects",
            "content": {
              "application/vnd.nterprise.collection.projects.v1+json": {
                "schema": {
                  "properties": {
                    "_embedded": {
                      "type": "object",
                      "properties": {
                        "projects": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "allOf": [
                              {
                                "description": "A Project",
                                "type": "object",
                                "required": [
                                  "pLabel"
                                ],
                                "properties": {
                                  "project_id": {
                                    "description": "The Project Id",
                                    "readOnly": true,
                                    "type": "number",
                                    "format": "int32",
                                    "minimum": 0
                                  },
                                  "pLabel": {
                                    "description": "The name of the project",
                                    "type": "string",
                                    "example": "Zones"
                                  },
                                  "pStart_dt": {
                                    "description": "Project Start date",
                                    "type": "string",
                                    "nullable": true,
                                    "format": "date-time"
                                  },
                                  "pEnd_dt": {
                                    "description": "Project end date",
                                    "type": "string",
                                    "nullable": true,
                                    "format": "date-time"
                                  },
                                  "total_work_orders": {
                                    "description": "Total work orders for the project",
                                    "type": "number",
                                    "format": "int32",
                                    "readOnly": true,
                                    "minimum": 0
                                  },
                                  "total_work_orders_status": {
                                    "description": "Work order counts by status",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "active": {
                                        "type": "number",
                                        "format": "int32",
                                        "example": 10
                                      },
                                      "pending": {
                                        "type": "number",
                                        "format": "int32",
                                        "example": 10
                                      },
                                      "complete": {
                                        "type": "number",
                                        "format": "int32",
                                        "example": 5
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "curies": {
                                        "type": "array",
                                        "description": "the Nterprise CURIE",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "readOnly": true,
                                              "description": "Name of CURIE",
                                              "example": "nter"
                                            },
                                            "href": {
                                              "type": "string",
                                              "format": "url",
                                              "readOnly": true,
                                              "description": "A Link to the CURIE reference",
                                              "example": "https://docs.nterprise.com/rel/{rel}"
                                            },
                                            "templated": {
                                              "type": "boolean",
                                              "readOnly": true,
                                              "description": "Describes the link as being a template",
                                              "example": true
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "self": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "readOnly": true,
                                            "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "_links": {
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "nter:products": {
                                        "type": "object",
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "example": "https://api.nterprise.com/projects/333/products"
                                          }
                                        }
                                      },
                                      "nter:work-orders": {
                                        "type": "object",
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "example": "https://api.nterprise.com/projects/333/work-orders"
                                          }
                                        }
                                      },
                                      "nter:customer": {
                                        "type": "object",
                                        "properties": {
                                          "href": {
                                            "type": "string",
                                            "format": "url",
                                            "example": "https://api.nterprise.com/customers/42"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "_links": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "curies": {
                                            "type": "array",
                                            "description": "the Nterprise CURIE",
                                            "items": {
                                              "type": "object",
                                              "properties": {
                                                "name": {
                                                  "type": "string",
                                                  "readOnly": true,
                                                  "description": "Name of CURIE",
                                                  "example": "nter"
                                                },
                                                "href": {
                                                  "type": "string",
                                                  "format": "url",
                                                  "readOnly": true,
                                                  "description": "A Link to the CURIE reference",
                                                  "example": "https://docs.nterprise.com/rel/{rel}"
                                                },
                                                "templated": {
                                                  "type": "boolean",
                                                  "readOnly": true,
                                                  "description": "Describes the link as being a template",
                                                  "example": true
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "_links": {
                                        "type": "object",
                                        "readOnly": true,
                                        "properties": {
                                          "self": {
                                            "type": "object",
                                            "readOnly": true,
                                            "properties": {
                                              "href": {
                                                "type": "string",
                                                "format": "url",
                                                "readOnly": true,
                                                "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                ]
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "total_count": {
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 0,
                          "example": 32
                        },
                        "per_page": {
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "page": {
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 1,
                          "maximum": 100,
                          "example": 50
                        },
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "next": {
                              "type": "object",
                              "description": "Link to the next page",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.neterprise.com/foo?page=2&per_page=50"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected API Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "An absolute URI that identifies the problem type.  When dereferenced, it SHOULD provide human-readable documentation for the problem type (e.g., using HTML).\n",
                      "default": "about:blank",
                      "example": "https://docs.nterprise.com/problem/constraint-violation"
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable\n"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
                      "minimum": 100,
                      "maximum": 600,
                      "example": 503
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human readable explanation specific to this occurrence of the\nproblem.\n",
                      "example": "Connection to database timed out"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{project_id}": {
      "get": {
        "operationId": "fetchProjectById",
        "summary": "Info for a specific project",
        "description": "Fetches information about a project the user has access too",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the project",
            "content": {
              "application/vnd.nterprise.project.v1+json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "A Project",
                      "type": "object",
                      "required": [
                        "pLabel"
                      ],
                      "properties": {
                        "project_id": {
                          "description": "The Project Id",
                          "readOnly": true,
                          "type": "number",
                          "format": "int32",
                          "minimum": 0
                        },
                        "pLabel": {
                          "description": "The name of the project",
                          "type": "string",
                          "example": "Zones"
                        },
                        "pStart_dt": {
                          "description": "Project Start date",
                          "type": "string",
                          "nullable": true,
                          "format": "date-time"
                        },
                        "pEnd_dt": {
                          "description": "Project end date",
                          "type": "string",
                          "nullable": true,
                          "format": "date-time"
                        },
                        "total_work_orders": {
                          "description": "Total work orders for the project",
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 0
                        },
                        "total_work_orders_status": {
                          "description": "Work order counts by status",
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "active": {
                              "type": "number",
                              "format": "int32",
                              "example": 10
                            },
                            "pending": {
                              "type": "number",
                              "format": "int32",
                              "example": 10
                            },
                            "complete": {
                              "type": "number",
                              "format": "int32",
                              "example": 5
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "nter:products": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.nterprise.com/projects/333/products"
                                }
                              }
                            },
                            "nter:work-orders": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.nterprise.com/projects/333/work-orders"
                                }
                              }
                            },
                            "nter:customer": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.nterprise.com/customers/42"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "curies": {
                                  "type": "array",
                                  "description": "the Nterprise CURIE",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "readOnly": true,
                                        "description": "Name of CURIE",
                                        "example": "nter"
                                      },
                                      "href": {
                                        "type": "string",
                                        "format": "url",
                                        "readOnly": true,
                                        "description": "A Link to the CURIE reference",
                                        "example": "https://docs.nterprise.com/rel/{rel}"
                                      },
                                      "templated": {
                                        "type": "boolean",
                                        "readOnly": true,
                                        "description": "Describes the link as being a template",
                                        "example": true
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected API Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "An absolute URI that identifies the problem type.  When dereferenced, it SHOULD provide human-readable documentation for the problem type (e.g., using HTML).\n",
                      "default": "about:blank",
                      "example": "https://docs.nterprise.com/problem/constraint-violation"
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable\n"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
                      "minimum": 100,
                      "maximum": 600,
                      "example": 503
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human readable explanation specific to this occurrence of the\nproblem.\n",
                      "example": "Connection to database timed out"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/": {
      "get": {
        "operationId": "fetchProjectById",
        "summary": "Info for a specific project",
        "description": "Fetches information about a project the user has access too",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "required": true,
            "description": "The id of the project to retrieve",
            "schema": {
              "type": "number",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details about the project",
            "content": {
              "application/vnd.nterprise.project.v1+json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "A Project",
                      "type": "object",
                      "required": [
                        "pLabel"
                      ],
                      "properties": {
                        "project_id": {
                          "description": "The Project Id",
                          "readOnly": true,
                          "type": "number",
                          "format": "int32",
                          "minimum": 0
                        },
                        "pLabel": {
                          "description": "The name of the project",
                          "type": "string",
                          "example": "Zones"
                        },
                        "pStart_dt": {
                          "description": "Project Start date",
                          "type": "string",
                          "nullable": true,
                          "format": "date-time"
                        },
                        "pEnd_dt": {
                          "description": "Project end date",
                          "type": "string",
                          "nullable": true,
                          "format": "date-time"
                        },
                        "total_work_orders": {
                          "description": "Total work orders for the project",
                          "type": "number",
                          "format": "int32",
                          "readOnly": true,
                          "minimum": 0
                        },
                        "total_work_orders_status": {
                          "description": "Work order counts by status",
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "active": {
                              "type": "number",
                              "format": "int32",
                              "example": 10
                            },
                            "pending": {
                              "type": "number",
                              "format": "int32",
                              "example": 10
                            },
                            "complete": {
                              "type": "number",
                              "format": "int32",
                              "example": 5
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "_links": {
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "nter:products": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.nterprise.com/projects/333/products"
                                }
                              }
                            },
                            "nter:work-orders": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.nterprise.com/projects/333/work-orders"
                                }
                              }
                            },
                            "nter:customer": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "format": "url",
                                  "example": "https://api.nterprise.com/customers/42"
                                }
                              }
                            }
                          }
                        }
                      },
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "curies": {
                                  "type": "array",
                                  "description": "the Nterprise CURIE",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "readOnly": true,
                                        "description": "Name of CURIE",
                                        "example": "nter"
                                      },
                                      "href": {
                                        "type": "string",
                                        "format": "url",
                                        "readOnly": true,
                                        "description": "A Link to the CURIE reference",
                                        "example": "https://docs.nterprise.com/rel/{rel}"
                                      },
                                      "templated": {
                                        "type": "boolean",
                                        "readOnly": true,
                                        "description": "Describes the link as being a template",
                                        "example": true
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "_links": {
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "self": {
                                  "type": "object",
                                  "readOnly": true,
                                  "properties": {
                                    "href": {
                                      "type": "string",
                                      "format": "url",
                                      "readOnly": true,
                                      "example": "https://api.nterprise.com/{entity}/{entity_id}"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Unexpected API Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "format": "uri",
                      "description": "An absolute URI that identifies the problem type.  When dereferenced, it SHOULD provide human-readable documentation for the problem type (e.g., using HTML).\n",
                      "default": "about:blank",
                      "example": "https://docs.nterprise.com/problem/constraint-violation"
                    },
                    "title": {
                      "type": "string",
                      "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable\n"
                    },
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
                      "minimum": 100,
                      "maximum": 600,
                      "example": 503
                    },
                    "detail": {
                      "type": "string",
                      "description": "A human readable explanation specific to this occurrence of the\nproblem.\n",
                      "example": "Connection to database timed out"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Customer": {
        "description": "A Customer",
        "type": "object",
        "required": [
          "cName"
        ],
        "properties": {
          "customer_id": {
            "description": "The Customer Id",
            "readOnly": true,
            "type": "number",
            "format": "int32",
            "minimum": 0
          },
          "cName": {
            "description": "The name of the customer",
            "type": "string",
            "example": "Zones"
          },
          "total_projects": {
            "description": "Total Projects for the customer",
            "type": "number",
            "format": "int32",
            "readOnly": true,
            "minimum": 0
          },
          "total_sites": {
            "description": "Total Sites for the customer",
            "type": "number",
            "format": "int32",
            "readOnly": true,
            "minimum": 0
          }
        }
      },
      "Project": {
        "description": "A Project",
        "type": "object",
        "required": [
          "pLabel"
        ],
        "properties": {
          "project_id": {
            "description": "The Project Id",
            "readOnly": true,
            "type": "number",
            "format": "int32",
            "minimum": 0
          },
          "pLabel": {
            "description": "The name of the project",
            "type": "string",
            "example": "Zones"
          },
          "pStart_dt": {
            "description": "Project Start date",
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "pEnd_dt": {
            "description": "Project end date",
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "total_work_orders": {
            "description": "Total work orders for the project",
            "type": "number",
            "format": "int32",
            "readOnly": true,
            "minimum": 0
          },
          "total_work_orders_status": {
            "description": "Work order counts by status",
            "type": "object",
            "readOnly": true,
            "properties": {
              "active": {
                "type": "number",
                "format": "int32",
                "example": 10
              },
              "pending": {
                "type": "number",
                "format": "int32",
                "example": 10
              },
              "complete": {
                "type": "number",
                "format": "int32",
                "example": 5
              }
            }
          }
        }
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "An absolute URI that identifies the problem type.  When dereferenced, it SHOULD provide human-readable documentation for the problem type (e.g., using HTML).\n",
            "default": "about:blank",
            "example": "https://docs.nterprise.com/problem/constraint-violation"
          },
          "title": {
            "type": "string",
            "description": "A short, summary of the problem type. Written in english and readable for engineers (usually not suited for non technical stakeholders and not localized); example: Service Unavailable\n"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "description": "The HTTP status code generated by the origin server for this occurrence of the problem.\n",
            "minimum": 100,
            "maximum": 600,
            "example": 503
          },
          "detail": {
            "type": "string",
            "description": "A human readable explanation specific to this occurrence of the\nproblem.\n",
            "example": "Connection to database timed out"
          }
        }
      }
    },
    "securitySchemes": {
      "signedToken": {
        "type": "apiKey",
        "description": "To Generate an API Follow these steps:\n 1. concatenate KEY + URL + REQUEST BODY\n 1. create SHA512 hash of step 1 string\n 1. concatenate USER + \":\" + SHA512 hash\n 1. base64 encode string from step 3\n 1. Pass in as a Bearer token",
        "name": "Authorization",
        "in": "header"
      }
    }
  }
}

