{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "description": "API for the nterprise application",
    "title": "nterprise API",
    "termsOfService": "https://www.nterprise.com/tos",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.nterprise.com",
      "description": "Production api"
    },
    {
      "url": "https://api.staging.nterprise",
      "description": "Testing server"
    }
  ],
  "paths": {
    "/": {
      "$ref": "/v2/paths/entry.json"
    },
    "/login": {
      "$ref": "/v2/paths/login.json"
    },
    "/me": {
      "$ref": "/v2/paths/me.json"
    },
    "/permissions": {
      "$ref": "/v2/paths/permissions.json"
    },
    "/permissions/{permission_label}": {
      "$ref": "/v2/paths/permission.json"
    },
    "/roles": {
      "$ref": "/v2/paths/roles.json"
    },
    "/roles/{role_id}": {
      "$ref": "/v2/paths/role.json"
    },
    "/roles/{role_id}/permissions": {
      "$ref": "/v2/paths/rolePermissions.json"
    },
    "/roles/{role_id}/permissions/{permission_id}": {
      "$ref": "/v2/paths/rolePermission.json"
    }
  },
  "components": {
    "schemas": {
      "Me": {
        "$ref": "/v2/components/schemas/me.json"
      },
      "Permission": {
        "$ref": "/v2/components/schemas/permission.json"
      },
      "Role": {
        "$ref": "/v2/components/schemas/role.json"
      },
      "Problem": {
        "$ref": "/v2/components/schemas/problem.json"
      },
      "Entry": {
        "$ref": "/v2/components/schemas/entry.json"
      },
      "Login": {
        "$ref": "/v2/components/schemas/login.json"
      }
    }
  }
}
